.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #fdf8f6;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #eaddd7;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a77f72;
}
.form-enter {
    animation: fadeIn 0.4s ease-in-out;
}
html {
    scroll-behavior: smooth;
}
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}
.animate-float {
    animation: float 3s ease-in-out infinite;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.toast-enter {
    animation: slideIn 0.5s forwards;
}